<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/head :: head (null)">
	<title>HomeBudget</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" th:replace="fragments/menu :: menu">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">HomeBudget</a>
			</div>
			
			<div sec:authorize="isAuthenticated()">
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/budget}">Budżet</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/logout}" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
					</ul>
				</div>
			</div>
			
			<div sec:authorize="isAnonymous()">
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/login}">Logowanie</a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a th:href="@{/register}">Rejestracja</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>
	
	<div class="container cont bg-1 shadow-1">
		<div th:replace="fragments/msg :: msg">messages</div>
		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<strong class="font-size-1-5">Budżet <span th:text="${budget.name}" 
						data-toggle="tooltip" 
						data-placement="bottom" 
						th:title="${budget.description}"></span></strong>
				<a th:href="@{/budget/edit/{id}(id=${budget.hiddenId})}" class="glyph"
						sec:authorize="hasPermission(#vars.budget, 2)">
					<span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="bottom" title="edytuj"></span>
				</a>
				<a th:href="@{/budget/delete/{id}(id=${budget.hiddenId})}" class="glyph"
						sec:authorize="hasPermission(#vars.budget, 3)">
					<span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="usuń"></span>
				</a>
			</div>
			<div class="panel-body">
				<p>Suma kategorii: <span th:text="${#numbers.formatDecimal(sumOfCategories.doubleValue(), 1, 'DEFAULT', 2, 'DEFAULT')}"></span> zł</p>
				<p>Suma kont: <span th:text="${#numbers.formatDecimal(sumOfAccounts.doubleValue(), 1, 'DEFAULT', 2, 'DEFAULT')}"></span> zł</p>
				<p>Bilans bieżącego miesiąca: <span th:text="${#numbers.formatDecimal(monthBalance.doubleValue(), 1, 'DEFAULT', 2, 'DEFAULT')}"></span> zł</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-6">
				<div class="list-group">
					<p class="list-group-item active font-size-1-25"><strong>Kategorie:</strong></p>
					<a th:href="@{/category/{id}(id=${category.hiddenId})}" class="list-group-item" th:each="category : ${categories}">
						<p class="list-group-item-heading font-size-1-2">
							<strong><span th:text="${category.name}">Nazwa</span></strong> // 
							<span th:text="${#numbers.formatDecimal(category.value, 1, 'DEFAULT', 2, 'DEFAULT')}"></span> zł
						</p>
						<p class="list-group-item-text" th:text="${category.description}">Opis</p>
					</a>
					<a th:href="@{/transfer/category/{id}(id=${budget.hiddenId})}" class="list-group-item">
						<p class="list-group-item-text">wykonaj przelew między kategoriami</p>
					</a>
					<a th:href="@{/category/new/{id}(id=${budget.hiddenId})}" class="list-group-item"
							sec:authorize="hasPermission(#vars.budget, 2)">
						<p class="list-group-item-text">dodaj kategorię</p>
					</a>
				</div>
				
				<div class="list-group">
					<p class="list-group-item active font-size-1-25"><strong>Konta:</strong></p>
					<a th:href="@{/account/{id}(id=${account.hiddenId})}" class="list-group-item" th:each="account : ${accounts}">
						<p class="list-group-item-heading font-size-1-2">
							<strong><span th:text="${account.name}">Nazwa</span></strong> // 
							<span th:text="${#numbers.formatDecimal(account.value, 1, 'DEFAULT', 2, 'DEFAULT')}"></span> zł
						</p>
						<p class="list-group-item-text" th:text="${account.description}">Opis</p>
					</a>
					<a th:href="@{/transfer/account/{id}(id=${budget.hiddenId})}" class="list-group-item">
						<p class="list-group-item-text">wykonaj przelew między kontami</p>
					</a>
					<a th:href="@{/account/new/{id}(id=${budget.hiddenId})}" class="list-group-item"
							sec:authorize="hasPermission(#vars.budget, 2)">
						<p class="list-group-item-text">dodaj konto</p>
					</a>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="list-group">
					<a th:href="@{/budget/history/{id}/0/30(id=${budget.hiddenId})}" 
							class="list-group-item active font-size-1-25 whiteheader" 
							data-toggle="tooltip" data-placement="bottom" title="zobacz historię">
						<strong>Ostatnie wpływy i wydatki</strong>
					</a>
					<a th:href="@{/receipt/edit/{id}(id=${receipt.hiddenId})}" class="list-group-item" th:each="receipt : ${receipts}">
						<p th:replace="fragments/receiptList :: list">
							(lista ostatnich wpływów/wydatków)
						</p>
					</a>
					<a th:href="@{/receipt}" class="list-group-item">
						<p class="list-group-item-text">dodaj</p>
					</a>
				</div>
			</div>
		</div>
		
	</div>
	
	<script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
	
	<script type="text/javascript">
    /*<![CDATA[*/
	function setActiveMenu() {
		document.getElementById("menuBudget").className = "active";
    }
    
	$(document).ready(function(){
    	setActiveMenu();
	});
	/*]]>*/
	</script>
</body>
</html>