<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/head :: head (null)">
	<title>HomeBudget</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" th:replace="fragments/menu :: menu">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">HomeBudget</a>
			</div>
			
			<div sec:authorize="isAuthenticated()">
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/budget}">Budżet</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/logout}" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
					</ul>
				</div>
			</div>
			
			<div sec:authorize="isAnonymous()">
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/login}">Logowanie</a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a th:href="@{/register}">Rejestracja</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>
	
	<div class="container cont bg-1 shadow-1">
		
		<h4>Błąd 404</h4>
		
		Nie znaleziono strony...
	</div>
	
</body>
</html>