				<div th:fragment="msg">
					<div th:if="${msgError != null}" class="alert alert-danger fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<span th:text="${msgError}">danger!</span>
					</div>
					<div th:if="${msgWarning != null}" class="alert alert-warning fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<span th:text="${msgWarning}">warning!</span>
					</div>
					<div th:if="${msgInfo != null}" class="alert alert-info fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<span th:text="${msgInfo}">info!</span>
					</div>
					<div th:if="${msgSuccess != null}" class="alert alert-success fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<span th:text="${msgSuccess}">success!</span>
					</div>
				</div>